/* #region Variables and Init*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans&display=swap');

:root
{
    --contrast-color: #d6d6d6;
    --ui-bg: #2c2c2c;
    --bg: #1a1a1a;
    --content-bg: #0f0f0f;
    --hover-bg: #ffffff44;
    --display-font: 'Inconsolata', monospace;
    --main-font: 'Open Sans', sans-serif;
    --content-border-width: 0.2rem;
    --content-border-radius: 1rem;
    --style-border-radius: 5rem;
    --content-border-padding: 1rem;

    --subcontent-border-width: 0.1rem;
    --subcontrast-color: #d6d6d6;


    --link-hover-color: #d3cf00;


    --tool-tip-width: 10rem;
    --tool-tip-spacing: 2rem;
    --tool-text-color: white;
    --tool-tip-bg:#000000bb;

    --sub-header-color: #969696;
    --nav-link-bg:#00000056;
    --nav-link-padding-right: 2rem;

    --mobile-header-height: 4rem;

    /* Reset font size for consistant rem */
    font-size: 15px;
}

*
{
    box-sizing: border-box;
}

body
{
    background-color: var(--ui-bg);
    color: var(--contrast-color);
    font-family: var(--main-font);

    margin: 0rem;
    padding: 0rem;
}

/* #endregion */

/* #region Links */
a
{
    transition: scale 0.1s ease-out;
    padding: 1rem;
    border-radius: 1rem;
}
a:link
{
    color: #ffae00;
    text-decoration: none;
}
a:visited
{
    color: #ffe6b1;
}
a:focus,
a:hover
{
    color: var(--link-hover-color);
    text-decoration: underline;
    scale: 1.1;
    background-color: var(--hover-bg);
}
a:active
{
    color: #eeff00;
}

.entryLink
{
    display: inline;
    width: fit-content;
    height: max-content;
    padding: 1rem;
}

/* #endregion */

/* #region Main Grid */

#wrapper
{
    display: grid;
    grid-template-areas:    "header header"
                            "sidebar main";
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1fr;

    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    z-index: 1;
}

.overlay
{
    font-family: var(--display-font);
}
/* #endregion */

/* #region Header */

header
{
    grid-area: header;

    display: grid;
    grid-template-columns: 4fr auto 4fr;
    justify-items: center;
    box-sizing: content-box;
    background-color: var(--ui-bg);
    font-size: 1.5rem;
    height: 6rem;
    align-items: center;

    pointer-events: auto;

    z-index: 1;
}
    #hamburgerMenu
    {
        display: none;
    }
    #title
    {
        text-align: center;

    }
        #title *
        {
            margin: 0rem;
            padding: 0rem;
            font-size: 2.5rem;
        }
        #title h2
        {
            color: var(--sub-header-color);
            font-size: 2rem;
        }
    #internalLinks
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    header a
    {
        width: min-content;
        height: min-content;
    }
    #outgoingLinks
    {
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
        /* height: 100%; */
        padding-right: 2rem;
    }
    #outgoingLinks div
    {
        display: flex;
        align-items: center;
        height: 100%;
    }
    #outgoingLinks a
    {
        /* Only counts as a link when mouse over the min content */
        width: min-content;
        height: min-content;
    }

/* #endregion */

/* #region Sidebar */

aside
{
    grid-area: sidebar;

    background-color: var(--ui-bg);
    padding: 1rem;

    align-items: center;

    pointer-events: auto;

    display: flex;
    flex-direction: column;

    /* overflow-y: auto; */

    /* width: 20rem; */

    translate: 0%;
}
    aside nav
    {
        width: 100%;
        overflow-y: auto;
    }
        aside nav h2
        {
            font-size: 2.5rem;
            margin: 0;
            margin-left: 1rem;
            width: fit-content;
        }
        aside ul
        {
            list-style-type: none;
            padding: 0;
            margin: 0 1rem;
        }
            aside ul li
            {
                margin: 0.5rem 0;
                font-size: 1.2rem;
            }
            aside a
            {
                border: 0 solid var(--link-hover-color);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                transition: border-right-width 0.1s ease-out, padding-right 0.1s ease-out;
                padding: 0.5rem var(--nav-link-padding-right) 0.5rem 1rem;
                display: block;
                width: 90%;
            }
            aside a:link
            {
                color: #ffae00;
                text-decoration: none;
            }
            aside a:visited
            {
                color: #ffae00;
            }
            aside a:focus,
            aside a:hover
            {
                scale: 1;
                background-color: var(--nav-link-bg);
                border-right-width: calc(var(--content-border-width) * 4);
                padding-right: calc(var(--nav-link-padding-right) - calc(var(--content-border-width) * 4));
            }
            aside a:active
            {
                transition: border-right-width 0.05s ease-out, padding-right 0.05s ease-out;
                color: #eeff00;
                border-right-width: calc(var(--content-border-width) * 2);
                padding-right: calc(var(--nav-link-padding-right) - calc(var(--content-border-width) * 2));
            }
    #myIcon
    {
        background-color: transparent;
        border-radius: 100%;
        padding: 0rem;
        border: 0rem solid transparent;
        width: auto;
        margin-top: auto;
        margin-bottom: 1rem;
    }
        #myIcon img
        {
            width: 7rem;
            transition: rotate 0.2s ease-out, scale 0.2s ease-out;
        }
            #myIcon img:focus,
            #myIcon img:hover
            {
                rotate: 10deg;
                scale: 0.95;
                border-right-width: 0rem;
                padding-right: 0rem;
            }
            #myIcon img:active
            {
                transition: rotate 0.1s ease-out, scale 0.1s ease-out;
                rotate: 40deg;
                scale: 0.8;
            }
        #myIcon:hover
        {
            /* Override the normal link mode */
            scale: 1;
            border-right-width: 0rem;
            padding-right: 0rem;
        }
        #myIcon:active
        {
            /* Override the normal link mode */
            scale: 1;
            border-right-width: 0rem;
            padding-right: 0rem;
        }


/* #endregion */

/* #region Main */

#content
{
    grid-area: main;
    padding: 4rem;

    pointer-events: all;
    overflow-y: scroll;
    scroll-behavior: smooth;

    background-color: var(--bg);
    border-top-left-radius: var(--style-border-radius);
}

main
{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main article
{
    border: var(--content-border-width) solid var(--contrast-color);
    background-color: var(--content-bg);
    border-radius: var(--content-border-radius);
    padding: var(--content-border-padding);
    margin: var(--content-border-padding);

    max-width: 30rem;
    height: min-content;

    transition: border-radius 0.2s ease-out, scale 0.2s ease-out, border-color 0.3s ease-out;
}
    main article:hover
    {
        border-radius: 0rem;
        scale: 1.05;
        z-index: 0;
    }
    main article h3
    {
        font-size: 2rem;
        margin: 0rem;
        text-align: center;
    }
    main article img
    {
        max-width: 80%;
        border: var(--subcontent-border-width) solid var(--subcontrast-color);
        border-radius: var(--content-border-radius);
        display: block;
        margin: 1rem auto;
    }
    main article a
    {
        text-align: center;
    }
#whiteSpace img
{
    border-width: 0rem;
    border-radius: 0.5rem;
    width: 10rem;
}

/* #endregion */

/* #region Footer */

footer
{
    border-top: var(--content-border-width) solid var(--contrast-color);
    padding: var(--content-border-padding);
    min-height: 70vh;
}

footer img
{
    float: left;
    border-radius: var(--style-border-radius);
    width: 20rem;
    margin: var(--content-border-padding);
}

/* #endregion */

/* #region Helpful Things */

/* For tool tips this helped: https://www.w3schools.com/css/css_tooltip.asp */

.toolTipped
{
    position: relative;
    display: inline-block;
}

.toolTip
{
    visibility: hidden;
    z-index: 2;
    position: absolute;
    font: var(--display-font);
    font-size: 1.5rem;
    text-align: center;

    background-color: var(--tool-tip-bg);
    color: var(--contrast-color);
    border-radius: var(--content-border-radius);
    border: var(--subcontent-border-width) solid var(--hover-bg);
    padding: calc(var(--content-border-padding) * 0.5)var(--content-border-padding);
    width: max-content;
    max-width: 20rem;

    /* Basically center it so it simplifies positioning */
    transform: translate(-50%, -50%);
    transform-origin: 0 0;

    pointer-events: none;

    scale: 90%;
    transition: scale .1s ease-out;

    /* transform: translateX(0px); */
}

/* Positioning */
.ttDown
{
    left: 50%;
    top: calc(100% + var(--tool-tip-spacing));
}

.ttUp
{
    left: 50%;
    top: calc(-100% - var(--tool-tip-spacing));
    
}

.ttRight
{
    left: calc(125% + var(--tool-tip-spacing));
    top: 50%;
}

.ttLeft
{
    right: calc(125% + var(--tool-tip-spacing));
    top: 50%;
}

.toolTipped:hover .toolTip
{
    visibility: visible;
    scale: 1;
}


/* #endregion */

/* #region Responsiveness */

@media screen and (max-width: 1000px) /*old: 850*/
{
    #wrapper
    {
        display: grid;
        grid-template-areas:    "header"
                                "main";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .mobileOptional
    {
        display: none;
    }
    aside
    {
        /* display: none; */
        position: fixed;
        translate: -100%;
        transition: translate 0.5s ease-out;
        margin-top: var(--mobile-header-height);
        height: calc(100% - var(--mobile-header-height));
        z-index: 1;
        box-shadow: 0rem 2rem 4rem black;
    }
    header
    {
        height: var(--mobile-header-height);
        grid-template-columns: auto 3.5fr auto 4fr;
        z-index: 3;
    }
        /* For hamburger menu: https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
        #hamburgerMenu
        {
            display: block;
            margin-left: 1rem;
        }
        header a
        {
            font-size: 1rem;
        }
        #title *
        {
            font-size: 1.5rem;
        }
        #title h2
        {
            font-size: 1rem;
        }
        #outgoingLinks
        {
            padding-right: 1rem;
        }
    #content
    {
        border-top-left-radius: 0;
        padding: 0.5rem;
    }
        main article
        {
            border: 0 none transparent;
            background-color: var(--content-bg);
        
            max-width: 100%;
        }
}
/* Very tiny */
@media screen and (max-width: 375px)
{
    header a
    {
        font-size: 0.5rem;
    }
    #title *
    {
        font-size: 0.75rem;
    }
    #title h2
    {
        font-size: 0.5rem;
    }
    #content
    {
        font-size: 0.75rem;
    }
    main article h3
    {
        font-size: 1rem;
    }
    footer img
    {
        width: 75vw;
    }
}

/* #endregion */

